/* General page */
body{
  font-family: Arial;
  background-color: rgb(35, 35, 53);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;
}

.body-container{
  background-color: rgb(25, 29, 40);
  color: white;
  display: flex;
  flex-direction: column;
  width:50%;
  min-width: 400px;
  max-width: 600px;;
  border-radius:20px;
  padding: 30px 40px;
  margin-bottom: 40px;
}


/* Profile picture */
.bio-profile-picture{
  display:block;
  object-fit: cover;
  object-position:100% 0%;
  border-radius: 400px;
  max-height:80px;
  width:80px;
  margin-bottom:10px;
}


/* General container contents */  
.block-title{
  color: rgb(226,226,226);
  font-size: 25px;
  font-weight:500;
}

.block-content{
  font-size: 15px;
  line-height:22px;
  color:rgb(173, 173, 173);
}



/* Project block */
.project-grid{
  margin-top:30px;
  display:grid;
  row-gap: 10px;
}

.project-grid-row{
  display:flex;
  justify-content: space-between;
}

.project-link{
  color: rgb(173, 173, 173);
  text-decoration: none;
  text-decoration: underline;
  transition: 0.05s;
}
.project-link:hover{
  color:rgb(229, 229, 229);
}

.language-list{
  display: flex;
  flex-direction: row;
  gap:3px;
}
.language-html{
  color: rgb(253, 132, 132);
}
.language-css{
  color:rgb(111, 159, 255);
}
.language-javaScript{
  color:rgb(255, 165, 117);
}
.language-java{
  color: rgb(252, 220, 133);
}



/* Connect block */
.connect-link-row{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 30px;
}
.connect-link{
  width:30px;
  display:flex;
  justify-content: center;
}
.connect-icon{
  height: 22px;
  opacity: 0.7;
  transition: 0.05s;
}
.connect-icon:hover{
  opacity:1;
  height:23px;
}