/* General page */
body{
  font-family: Arial;
  background-color: rgb(35, 35, 53);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;
}

.body-container{
  background-color: rgb(25, 29, 40);
  color: white;
  display: flex;
  flex-direction: column;
  width:400px;
  border-radius:20px;
  padding: 30px 40px;
  margin-bottom: 40px;
}


/* Profile picture */
.bio-profile-picture{
  display:block;
  object-fit: cover;
  object-position:100% 0%;
  border-radius: 400px;
  max-height:80px;
  width:80px;
  margin-bottom:10px;
}


/* Container contents */  
.block-title{
  color: rgb(226,226,226);
  font-size: 25px;
  font-weight:500;
}

.block-content{
  font-size: 15px;
  line-height:22px;
  color:rgb(173, 173, 173);
}

.project-grid{
  margin-top:30px;
  display:grid;
  row-gap: 10px;
}

.project-grid-row{
  display:flex;
  justify-content: space-between;
}

.project-link{
  color: rgb(173, 173, 173);
  text-decoration: none;
  text-decoration: underline;
}

.connect-link-row{
  
}